html{
    scroll-behavior: auto;
    overflow-x: hidden;
}

.wrapper{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.paddingleft{
    padding-left: 30px;
}

.intro{
    margin-top: 40px;
}

.section{
    padding: 20px;
}

.nav-link{
    color: black
}